#jumbo{
border-style: double;
background-color: aqua;
}

#trainSchedule{
border-style: double;
background-color: aqua;
}

#email{
border-style: double;
background-color: aqua;
}

 
#head {
    background-color: blue;
    border-style: double;
}

